.cite__container{
	padding: 1rem 2rem;
}
.cite__title{
	text-decoration: underline;
	color: $secondary;
	text-align: center;
	font-size: 2.4rem;
	margin-bottom: 3rem;
	letter-spacing: 0.2rem;
}
.cite__subtitle{
	display: flex;
	align-items: center;
	box-icon{
		margin-right: 0.5rem;
		fill: $secondary;
	}
}

// Estilos de calendario

.react-calendar{
	background-color: $primary-l !important;
	border: none !important;
	margin-top: 2rem;
	margin-bottom: 3rem;
	border-radius: 20px ;
}
.react-calendar__navigation{
	margin-bottom: 0 !important;
	background-color: $secondary !important;
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
}
.react-calendar__navigation__prev2-button,
.react-calendar__navigation__next2-button{
	display: none;
}
.react-calendar__navigation__arrow{
	background-color: $secondary-o !important;
}
.react-calendar__navigation__prev-button{
	border-top-left-radius: 20px !important;
	font-weight: bold;
}
.react-calendar__navigation__next-button{
	border-top-right-radius: 20px;
	font-weight: bold;
}
.react-calendar__navigation__label{
	color: $primary-o;
	font-weight: bold;
	transition: background-color .3s;

	&:focus,
	&:hover{
		background-color: $secondary-o !important;
	}
}

.react-calendar__month-view__weekdays__weekday{
	text-decoration: none !important;
	color: $color-text !important;
}

.react-calendar__month-view__days__day{
	color: $color-text;

	transition: background-color .3s, color .3s, font-weight .3s;
	&:hover,
	&:focus{
		background-color: $secondary-o !important;
	}
	
}
.react-calendar__month-view__days__day--neighboringMonth{
	color: $color-text-xo;
	background-color: $primary;
}
.react-calendar__month-view__days__day--weekend{
	color: $secondary-o;
}

.react-calendar__tile--now{
	background-color: $primary-o;
}
.react-calendar__tile--active{
	background-color: $secondary;
	color: $primary-o;
	font-weight: bold;
}

.react-calendar__year-view__months__month{
	color: $color-text;
	transition: background-color .3s;

	&:hover,
	&:focus{
		background-color: $secondary-o !important;
	}
}

.react-calendar__tile--hasActive{
	background-color: $secondary;
	color: $primary-o;
	font-weight: bold;
}

.react-calendar__decade-view__years__year{
	color: $color-text;
	transition: background-color .3s;

	&:hover,
	&:focus{
		background-color: $secondary-o !important;
	}
}
.react-calendar__tile--hasActive{
	color: $primary-o;
}

.react-calendar__navigation__label{
	background-color: $secondary !important;
}
.react-calendar__century-view__decades__decade{
	color: $color-text;
	transition: background-color .3s;

	&:hover,
	&:focus{
		background-color: $secondary-o !important;
	}
}

.react-calendar__tile--hasActive{
	color: $primary-o;
}

.cite__hours-list{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	justify-content: center;
	align-items: center;
	text-align: center;
	grid-gap: 1rem 0.8rem;
	margin-top: 2rem;
}
.cite__hours-item{
	font-weight: bold;
	letter-spacing: .1rem;
	text-decoration: underline;
	transition: background-color .3s, color .3s;
}
.cite__hours-item-unavailable{
	color: $error;
	opacity: .7;
}
.cite__hours-item-select{
	background-color: $secondary;
	padding: 0.4rem 0.9rem;
	border-radius: 10px;
	color: $primary-o;
	box-shadow: 0px 0px 15px -4px rgba(0, 0, 0, 0.8); 
}