.ui__nav{
	height: 5rem;
	width: 100vw;
	background-color: $primary-l;
	position: fixed;
	bottom: 0;
	left: 0;
	box-shadow: 0px 0px 25px -4px rgba(0, 0, 0, 0.8);
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	z-index: 100;
}

.ui__nav-item{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 6rem;
	height: 3.6rem;
	border-radius: 25px;
	transition: background-color .3s;

	box-icon{
		fill: $secondary;
		width: 3rem;
		height: 3rem;
	}
}

.ui__nav-item-active{
	background-color: $secondary;
	box-icon{
		fill: $primary;
	}
}

.ui__nav-item-mobile{
	display: flex;
}
.ui__nav-item-desktop{
	display: none;
}

@media screen and (min-width: 600px) {
	.ui__nav{
		position: absolute;
		top: 0;
		left: 0;
		box-shadow: none;
		justify-content: right;
		margin-right: -2rem;
		grid-gap: 2rem;
		background-color: transparent;
	}
	.ui__nav-item-mobile{
		display: none;
	}
	.ui__nav-item-desktop{
		display: flex;
		text-decoration: none;
		color: $secondary;
		transition: background-color .3s, color .3s;
		border-radius: 5px;
		width: 7rem;
		font-weight: bold;

		&:last-child{
			margin-right: 2rem;
		}

		&:hover{
			background-color: $secondary;
			color: $primary-o;
		}
	}
}