
$primary: #072227;
$primary-l: #0A353D;
$primary-o: #04181C;

$secondary: #FFE162;
$secondary-o: #EFD04C;

$error: #FF2563;

$font-text: 'Open Sans', sans-serif;
$font-title: 'Lobster', cursive;

$color-text: #E9FCFF;
